
  body {background-color:rgb(255, 255, 255)}
 embed{
     text-align:right;
 }
 
    

   nav{ text-align: right;
     -webkit-text-fill-color: grey ;
 }
 a{
     font-size: 180%;
 }
  header{align-items: flex-start;
   
      font-size:50%;
 
  }
   #encabezado {color: rgba(180, 13, 13, 0.952);
       font-family: cursive;
       font-style: italic;
       
       text-align: left;
       font-size: 300%;
       font-weight: bolder;} 



       .imgRedonda {
        float: right;
        width:200px;
        height:200px;
        border-radius:150px;
    }
p.lacarta{
    text-decoration-line: underline;
color:purple;
font-size: 150%
}
p.lacarta{
    font-family: 'Courier New', Courier, monospace
}
p.elcafe{ 
color:rgba(126, 21, 21, 0.822);
font-size: 150% 
}
p.elcafe{
    font-family: 'Courier New', Courier, monospace
}
p.contacto{ 
color:rgba(126, 21, 21, 0.836);
font-size: 150% 
}
p.contacto{
    font-family: 'Courier New', Courier, monospace
}
.derecha{
    text-align: right;
}
.centro{
text-align: center;
}
 